@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    @apply bg-gray-950 text-white
}
.light { 
    @apply bg-white text-gray-950
}
/* scroll bar */
::-webkit-scrollbar{
    width: 10px;
    @apply bg-gray-900 
}
::-webkit-scrollbar-thumb{
    @apply bg-green-600 rounded-md
}
/* header bg */
.bg-cool{
    background: rgba(0, 128, 0, 0.404);
}

@keyframes example {
    0% {background: rebeccapurple; left: 200px; top: 0px;}
    25% {background: burlywood; left: 0px; top: 0 ; }
    50% {background: blue; left: 0px; top:0px;}
    75% {background: green; left: 0px; top: 0px}
    100%{background:white; left: 0px; top: 0px}
}
.leaning:hover {
   animation: example 5s linear 2s infinite alternate;
    @apply relative animate-spin
}
