@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: sans-serif;
}
.dark {
    @apply bg-gray-950 text-white
}
.light { 
    @apply bg-white text-gray-950
}
/* scroll bar */
::-webkit-scrollbar{
    width: 10px;
    @apply bg-gray-900 
}
::-webkit-scrollbar-thumb{
    @apply bg-green-600 rounded-md
}
/* header bg */
.bg-cool{
    background: rgba(0, 128, 0, 0.404);
}

.nav-list {
    @apply flex font-bold text-xl  hover:text-green-600 duration-300 text-green-950 dark:text-white dark:hover:text-green-400
}

.green-cool-color{
    color: linear-gradient(
    92.23deg,
    #56ff56 21.43%,
    #04682e 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
}
.bg-color-green-cool{
    background: rgba(4, 104, 46, 0.281);
}